**/node_modules
**/package-lock.json
**/npm-shrinkwrap.json

coverage.*
results.*

**/.DS_Store
**/._*

**/*.pem

**/.vs
**/.vscode
**/.idea

!test/cli_coverage/node_modules
test_runner
test/cli/test/leaks.js

